force-app/main/default/flows/Store_Planogram.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Store_Planogram_Record</name>
        <label>Assign Store Planogram Record</label>
        <locationX>364</locationX>
        <locationY>248</locationY>
        <assignmentItems>
            <assignToReference>thisStorePlanogramRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Store_Planogram</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Store_Planogram</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>StoreCompliance</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Compliant__c</picklistField>
        <picklistObject>Store_Planogram__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Store Planogram {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Store Planogram</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Store_Planogram</name>
        <label>Get Store Planogram</label>
        <locationX>186</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Store_Planogram_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Auditor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Store_Planogram__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Recorded_Store_Planogram_Record</name>
        <label>Update Recorded Store Planogram Record</label>
        <locationX>725</locationX>
        <locationY>130</locationY>
        <connector>
            <targetReference>Final_Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisStorePlanogramRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Actual__c</field>
            <value>
                <elementReference>Recorded_Result</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compliant__c</field>
            <value>
                <elementReference>Compliant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recorded_DateTime__c</field>
            <value>
                <elementReference>RecordedDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Store_Planogram__c</object>
    </recordUpdates>
    <screens>
        <name>Final_Confirmation</name>
        <label>Final Confirmation</label>
        <locationX>722</locationX>
        <locationY>294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYouMessage</name>
            <fieldText>&lt;p&gt;We have recorded your data for the store &lt;/p&gt;&lt;p&gt;{!thisStorePlanogramRecord.Store__r.Name} at {!RecordedDateTime}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank You {!Get_Store_Planogram.Auditor__r.FirstName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Store_Planogram</name>
        <label>Record Store Planogram</label>
        <locationX>562</locationX>
        <locationY>130</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Recorded_Store_Planogram_Record</targetReference>
        </connector>
        <fields>
            <name>Recorded_Result</name>
            <fieldText>Recorded Result</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RecordedDateTime</name>
            <dataType>DateTime</dataType>
            <fieldText>RecordedDateTime</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Compliant</name>
            <choiceReferences>StoreCompliance</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Compliant</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ImageUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Image Upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Store_Planogram.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>60</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>Get_Store_Planogram</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>thisStorePlanogramRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Store_Planogram__c</objectType>
    </variables>
</Flow>
